/*body {
    touch-action: auto !important;
    -ms-touch-action: auto !important;
	
	-ms-scroll-limit-y-max: inherit !important;
	overflow: inherit !important;
}*/
#probtn_wrapper {
    position: fixed !important;
    z-index: 10000;
    cursor: default;
}

#probtn_button {
    z-index: 10300;
    cursor: pointer;
}

.probtn_button {
    background: transparent;
}

#probtn_mainButtonImage {
    z-index: 10200;
}

.probtn_active_zone {
	z-index: 10100;
}

#probtn_closeButton, #closeButton {
    display: block;
    position: fixed;
    top: 200px;
    left: 400px;
    z-index: 10100;
}


#probtn_button img {
    margin: 0 auto;
    display: block;
}

#probtn_button #probtn_hintText, #probtn_wrapper #probtn_hintText, #probtn_button #hintText, #probtn_wrapper #hintText {
    clear: both;
    display: block;
    width: auto;
    height: auto;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background: gray;
    display: inline-block;
    width: auto;
}

#probtn_menu {
    list-style: none !important;

    position: absolute !important;
    top: 10px !important;
    left: 10px !important;

    margin-left: 0px !important;
    margin-right: 0px !important;
}

#probtn_menu_ul {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

#probtn_menu li {
    width: 14.8em !important;
    height: 2em !important;
    padding: .9em 1em !important;
    top: .4em !important;
    left: 5.6em;
    white-space: nowrap !important;
    
    opacity: 0.89 !important;
    background-color: #304965 !important;
    border-radius: 6px !important;

    cursor: pointer !important;
    list-style: none !important;
    margin: 3px !important;
}

#probtn_menu li span, #probtn_menu li span a {
    /*font-size: 1.4em !important;*/
    font-weight: 400 !important;
    font-style: normal !important;
    /*color: #fff;*/
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    /*font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
}

#probtn_menu a {
    text-decoration: none !important;
    border-bottom: 0px solid transparent !important;
}

#probtn_menu li span {
    margin-top: -10px !important;
    display: inline-block !important;
    text-decoration: none !important;
}

#probtn_menu li table td {
    vertical-align: middle !important;
}

#probtn_menu li table {
    margin-top: -10px !important;
}