BODY {
  -webkit-perspective: 20000px;
          perspective: 20000px;
  -webkit-perspective-origin: center -80px;
          perspective-origin: center -80px;
}

.side,
.container {
  width: 160px;
  height: 160px;
}

.container {
    z-index: 0;
  /*border: 2px dotted white;*/
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-animation-fill-mode:forwards; 
  animation-fill-mode:forwards;
  
      -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
}

.container.start {
    -webkit-animation: rotate 2.5s 1 linear;
    animation: rotate 2.5s 1 linear;  
    -webkit-animation-fill-mode:forwards; 
    animation-fill-mode:forwards;
    background: #E95091;
    
    position: absolute;
}

.container:before,
.container:after {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  /*border: 2px dotted white;*/
}

.container:before {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.container:after {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

/*.side {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 2px solid #E26CA0;
  opacity: 1;
  background: #D74482;
  background-size: 100% !important;
}*/

.side {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #E95091;
    opacity: 1;
    background: #E95091;
    background-size: 100% !important;
    /*border-radius: 25px;*/
}
#cube2 {
    width: 258px !important;
    height: 258px !important;
}
#cube2 .side {
    background: #E95091 !important;
    width: 248px !important;
    height: 248px !important;
}

#cube2:before,
#cube2:after {
  width: 258px !important;
  height: 258px !important;
  /*border: 2px dotted white;*/
}

.back {
  -webkit-transform: translateZ(-5em);
          transform: translateZ(-5em);
  background: url('images/image_1.png') no-repeat;
}

.left {
  -webkit-transform: translateX(-5em) rotateY(-90deg);
          transform: translateX(-5em) rotateY(-90deg);
  background: url('images/image_2.png') no-repeat;
}

.right {
  -webkit-transform: translateX(5em) rotateY(90deg);
          transform: translateX(5em) rotateY(90deg);
 background: url('images/image_3.png') no-repeat;
}

.top {
  -webkit-transform: translateY(-5em) rotateX(90deg);
          transform: translateY(-5em) rotateX(90deg);
  background: url('images/image_1.png') no-repeat;
}

.bottom {
  -webkit-transform: translateY(5em) rotateX(90deg);
          transform: translateY(5em) rotateX(90deg);
  background: url('images/image_6.png') no-repeat;
}

.front {
  -webkit-transform: translateZ(5em);
          transform: translateZ(5em);
  background: url('images/image_3.png') no-repeat;
}

.side2 {
    z-index: 1; background: #E95091 !important;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
  }
  100% {
    -webkit-transform: rotateY(45deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(45deg) rotateX(0deg) rotateZ(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(-40deg);
  }
  10% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(0deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(0deg);
  }
  /*20% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(40deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(40deg);
  }
  30% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(80deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(80deg);
  }
  70% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(120deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(120deg);
  }
  80% {
    -webkit-transform: rotateY(65deg) rotateX(15deg) rotateZ(160deg);
            transform: rotateY(65deg) rotateX(15deg) rotateZ(160deg);
  }*/
  100% {
    -webkit-transform: rotateY(45deg) rotateX(0deg) rotateZ(360deg);
            transform: rotateY(45deg) rotateX(0deg) rotateZ(360deg);
  }
}

HTML, BODY {
  height: 270px;
  width: 270px;
}

.container {
    top: 40px;
    left: 50px;
    position: absolute;
}
.container2 {
   top: 10px;
   left: 40px;
   position: absolute;

}

BODY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container2 {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    background: white;
    border-radius: 10px;
    /*padding: 5px;*/
    position: absolute;    
    width: 10em;
    height: 12em;
}
.container2 #text {
    display: block;
    margin: 0 auto;
    /*padding-bottom: 10px;*/
    width: 60%;
    margin-top: 10px;
}

.container2 {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    background: white;
    border-radius: 10px;
    /*padding: 5px;*/
    position: absolute;    
    width: 10em;
    height: 12em;
}
.container2 #text {
    display: block;
    margin: 0 auto;
    /*padding-bottom: 10px;*/
    width: 60%;
    margin-top: 10px;
}

.container2 #btn {
    width: 100%;
    bottom: -1em;
    position: relative;
    cursor: pointer;
}

.container2 #close {
    width: auto;
    top: 5px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    z-index: 20;
}

#modalCard.show {
    display: initial !important;
    transform: translateZ(10em) !important;
}